* {
  border-color: #444 !important
}
:root {
  scrollbar-gutter: stable
}
.Tweet_TweetContainer__aezGm {
  border-bottom: 1px solid #444 !important;
  background-color: #000 !important;
  color: #ddd !important
}
.Tweet_icon__0dOrJ {
  display: flow !important;
  border: 0 !important
}
.Tweet_authorName___6Ckk,
.QuotedTweet_header__P9F6k,
.Trend_Trend__GZ_fj > h1 {
  color: #ccc !important
}
.QuotedTweet_QuotedTweet__XHRkA {
  border: 1px solid #444 !important;
  background-color: #000 !important
}
:any-link {
  color: #29e !important
}
.Suggest_text__YXHfG,
.History_text__k8Kc8,
.QuotedTweet_text__V11WE,
.Tab_option__9MxnV,
p {
  color: #ddd !important
}
#appprfr,
#cbz,
#footer,
#graph,
#pop,
#tabs,
#totop,
#train,
#apppr,
.Tweet_TweetMenu__BjvZa,
.mhd,
.AutoscrollStopped_AutoscrollStopped__5l41_,
.BestTweet_BestTweet__ayeNG,
.MainYda_MainYda__t3fDA,
.SearchBox_qt__LdywO,
.SearchBox_searchButton__pG_bD,
.SearchBox_SearchBox__bTaTA:after,
.SubYda_SubYda__klw_s,
.Trend_Trend__GZ_fj.Trend_excursion__vqQEg .Trend_container__d7dWI ol li a span {
  display: none !important
}
:root,
#atkey,
#nomatch,
#mtype *,
.More_More___s3p1,
.SearchBox_SearchBox__bTaTA .SearchBox_searchInputWrap__M_KgB,
.SearchBox_fixedWrap__Y9m9G,
.SearchBox_searchInput__5LNhz,
.SearchBox_clearButton__pz8Ig,
.cl-nofollow,
.p,
li,
form {
  background-color: #000 !important;
  color: #ddd !important
}
#search {
  position: fixed;
  top: 8px
}